<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter Registration</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <!-- <h2><%= roles[2].role %></h2> -->

    <div class="wrapper_voter">
        <span class="icon-close">
            <ion-icon name="close-circle"></ion-icon>
        </span>
        <div class="form-box"></div>
        <form action="/voterregi" method="post" id="reg_form">
            <h2>Voter Registration</h2>

            <div class="input-box">
                <span class="icon"> <ion-icon name="person"></ion-icon></ion-icon></span>
                <input type="firstname" id="firstname" name="firstname" required>
                <label>First Name</label>
            </div>

            <div class="input-box">
                <span class="icon"> <ion-icon name="person"></ion-icon></ion-icon></span>
                <input type="middlename" id="middlename" name="middlename" required>
                <label>Middle Name</label>
            </div>

            <div class="input-box">
                <span class="icon"> <ion-icon name="person"></ion-icon></ion-icon></span>
                <input type="lastname" id="lastname" name="lastname" required>
                <label>Last Name</label>
            </div>

            <div class="input-box">
                <span class="icon"> <ion-icon name="calendar"></ion-icon></ion-icon></span>
                <input type="dateofbirth" id="dob" name="dob" required>
                <label>Date of Birth</label>
            </div>

            <div class="input-box">
                <span class="icon"> <ion-icon name="person"></ion-icon></ion-icon></span>
                <input type="username" required id="username" name="username" required>
                <label>Username</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" required id="password" name="password" required>
                <label>Password</label>     
            </div>
        
            <div class="input-box">
                <span class="icon"><ion-icon name="image"></ion-icon></span>
                <input type="file" id="photo" name="photo" accept="image/*" required>
            </div>
            
            <!-- Fetching the information from the roles table and desplaying it to the form -->
            <div class="input-box">
                <span class="icon"><ion-icon name="briefcase"></ion-icon></span>
                <select id="role" name="role" required>
                    <option value="" disabled selected>Select Role</option>
                    <% roles.forEach(role => { %>
                        <option value="<%= role.id %>"><%= role.role %></option>
                    <% }); %>
                </select>
            </div>

            <div class="myremember-fo">
                    <label><input type="checkbox">
                        I agree to RACO</label>
                    <a href="#">Terms & Condiction</a>
                <button type="submit" class="btn">Sing Up</button>
                <div>
                    
            <div class="login-register">
                    <p>Already have an account?<a href="Login.html" class="register-link">Login</a></p>
                </div>
                </div>
            </div>
        </form>
    </div>
    

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="voter_regi.js"></script>
</body>
</html>